#root {
  --secondary-color: #1db954
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  background-color: #191414;
  color: #FFFFFF;
  text-align: center;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
  color: var(--secondary-color);
}
.card {
  display: flex;
  background-color: darkgray;
  margin: 10px 0;
}
.card button {
  padding: 2px;
}
.card img {
  border-radius: 6px;
}

